@page
@model InstaBot.Web.Pages.Queue.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Queue[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Queue[0].QueueType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Queue[0].QueueState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Queue[0].DelayInSeconds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Queue[0].LastActivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Queue[0].LoadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Queue[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Queue[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Queue) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QueueType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QueueState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DelayInSeconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
